{% extends "layout.html.twig" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 article">
      <div class="bposttitle">
        <h2 class="post-title entry-title">
        <a href="http://delicacy-btemplates.blogspot.fr/2013/04/lorem-ipsum_5918.html">Le mugcake</a>
        </h2>
      </div>

      <div class="entry-meta"><span class="type">Dessert</span><span class="date">Posté le 19/04/2015</span><span class="comments"><span><a href="http://delicacy-btemplates.blogspot.fr/2013/04/lorem-ipsum_5918.html#comment-form" onclick="">2 commentaires</a></span></span></div>
      <div class="post-header-line-1"></div>
      <div class="entry">
        <div class="post-body entry-content">
          <div id="summary936500248700274271"><span style="float:left; padding:0px 10px 5px 5px;"><img src="http://lh3.googleusercontent.com/_Zuzii37VUO4/Ta0nUeMwXoI/AAAAAAAAFoc/7f0Um7OTgNg/s000/Antartic-by-Peter-Rejcek.jpg" style="padding:5px;border:0px solid #eee;box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.3);" height="150px" width="200px"></span><div>Download this and more Blogger Templates at . For tutorials, tips and tricks about Blogger visit our Blog.» A normal paragraphEa eam labores imperdiet, apeirian democritum ei nam, doming neglegentur ad vis. Ne malorum ceteros feugait quo, ius ea liber offendit placerat, est habemus aliquyam legendos id. Eam no...</div></div>
          <script type="text/javascript">createSummaryAndThumb("summary936500248700274271");</script>
          <div style="float:right;padding-right:10px;margin-top:10px;">
          <a class="morer" href="http://delicacy-btemplates.blogspot.fr/2013/04/lorem-ipsum_5918.html">Read More</a>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    <div class="deco-line"></div>
      <div class="bposttitle">
        <h2 class="post-title entry-title">
        <a href="http://delicacy-btemplates.blogspot.fr/2013/04/lorem-ipsum_5918.html">Lorem Ipsum</a>
        </h2>
      </div>

      <div class="entry-meta"><span class="date">12:28 PM by BTemplates</span><span class="comments"><span><a href="http://delicacy-btemplates.blogspot.fr/2013/04/lorem-ipsum_5918.html#comment-form" onclick="">2 comments</a></span></span></div>
      <div class="post-header-line-1"></div>
      <div class="entry">
        <div class="post-body entry-content">
          <div id="summary936500248700274271"><span style="float:left; padding:0px 10px 5px 5px;"><img src="http://lh3.googleusercontent.com/_Zuzii37VUO4/Ta0nUeMwXoI/AAAAAAAAFoc/7f0Um7OTgNg/s000/Antartic-by-Peter-Rejcek.jpg" style="padding:5px;border:0px solid #eee;box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.3);" height="150px" width="200px"></span><div>Download this and more Blogger Templates at . For tutorials, tips and tricks about Blogger visit our Blog.» A normal paragraphEa eam labores imperdiet, apeirian democritum ei nam, doming neglegentur ad vis. Ne malorum ceteros feugait quo, ius ea liber offendit placerat, est habemus aliquyam legendos id. Eam no...</div></div>
          <script type="text/javascript">createSummaryAndThumb("summary936500248700274271");</script>
          <div style="float:right;padding-right:10px;margin-top:10px;">
          <a class="morer" href="http://delicacy-btemplates.blogspot.fr/2013/04/lorem-ipsum_5918.html">Read More</a>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
      
{% endblock %}